@charset "UTF-8";

@font-face {
  font-family: 'LemonMilk';
  src: local('LemonMilk'), url(././assets/fonts/LemonMilk/LEMONMILK-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'LemonMilk-italic';
  src: local('LemonMilk-italic'), url(././assets/fonts/LemonMilk/LEMONMILK-BoldItalic.otf) format('opentype');
}

:root {
  --primary-color:#0D1926;
  --secondary-color:#1A324C;
  --tertiary-color: #8CB0D9;
  /* --quarter-color: #5A189A; */
  /* gray == #212121 */
  /* "black" == #212121 */

  --white:#ffff;
  --black: #000000;
  --gray:#b0b0b0;
  --color-paragraph:#CFD8E2;
  
  font-size: 62.5%;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  box-sizing: border-box;
}

ul, li, a{
  color: var(--white);
  list-style: none;
  text-decoration: none;
  text-decoration-color: none;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background-color: #232C3B;
}

::-webkit-scrollbar {
  width: 10px;
  background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
  background: #8CB0D9;
  border-radius: 15px;
}


